/target
/Resources
/build-arm64
/build-x86_64
/build.stamp
/distribution.xml
/*.pkg
/rim-*.exe
/Output
_rim.ps1
/0.3.0
/README.html
/a.out
/gon.hcl
/test.c
/rimx/build
/rimx/rimx.xcodeproj/project.xcworkspace/xcuserdata/
/rimx/rimx.xcodeproj/xcuserdata/gaborcsardi.xcuserdatad/xcdebugger
.DS_Store
