/target
/Resources
/build-arm64
/build-x86_64
/build.stamp
/distribution.xml
/*.pkg
/rig-*.exe
/Output
_rig.ps1
/0.3.0
/README.html
/a.out
/gon.hcl
/test.c
/rigx/build
/rigx/rigx.xcodeproj/project.xcworkspace/xcuserdata/
/rigx/rigx.xcodeproj/xcuserdata/gaborcsardi.xcuserdatad/xcdebugger
.DS_Store
